<script>
 jQuery.validator.addMethod("mobile_telephone",function(value,element){
  if(jQuery("#telephone").val()==""&&jQuery("#mobile").val()==""){
     return false;
	 
  }else return true;
}); 
jQuery(function(){ 
   jQuery("#addr_form").validate({
	ignore: "",
     rules:{
	  trueName:{required :true},
	  area_id:{required :true},
	  area_info:{required :true},
	  zip:{required :true,isZipCode:true},
	  mobile:{mobile_telephone:true,isMobile:true},
	  telephone:{isTel:true}
	 },
	messages:{
	  trueName:{required :"The consignee cannot be empty"},
	  area_id:{required :"Please select the detailed area"},
	  area_info:{required :"The detailed address cannot be empty"},
	  zip:{required :"The zip code cannot be empty",isZipCode:"Please fill in the zip code correctly"},
	  mobile:{mobile_telephone :"Fill in at least one item for contact number and mobile phone",isMobile:"Please fill in the mobile phone number correctly"},
	  telephone:{isTel:"Please fill in the mobile number correctly"}
	},
	errorPlacement: function(error, element){ 
	  if(jQuery(error[0]).html()!=""){
		 console.log("123")
		 element.parent().parent().remove(".shopping_address_first_add_name_left_error");
		 element.parent().parent().append("<div class='shopping_address_first_add_name_left_error'></div>");
         error.appendTo(element.parent().parent().find(".shopping_address_first_add_name_left_error"));
	  }
    },
	success:function(label){
	    jQuery(label).parent().parent().remove(".shopping_address_first_add_name_left_error");
	},
	submitHandler:function(){
	     var params = jQuery("#addr_form").serialize();
		 jQuery.ajax({type:'POST',url:'$!webPath/cart_address_save.htm',data:params,
					  success:function(ret){
						  jQuery('.shopping_address_first').parent().remove();
						  jQuery(".shopping_address").empty();
						  jQuery(".shopping_address").append(ret);
						}
				     });
	}
  });
  //
   jQuery("select").change(function(){
     var level=jQuery(this).attr("level");
	 var id=jQuery(this).val();
	 jQuery("#area_id").val("");
	 for(var i=4;i>level;i--){
	  jQuery("#area"+i).empty();
	  jQuery("#area"+i).append("<option value=''>Please select</option>");
	 }
	 if(id!=""){
	  jQuery.post("$!webPath/load_area.htm",{"pid":id},function(data){
	     jQuery("#area"+level).empty();
		  jQuery("#area"+level).append("<option value=''>Please select</option>");
	      jQuery.each(data, function(index,item){
		    jQuery("#area"+level).append("<option value='"+item.id+"'>"+item.areaName+"</option>");
		  });
	  },"json");
	 }else{
	   for(var i=level;i<=4;i++){
	    jQuery("#area"+i).empty();
	   }
	 }
  });
      //
  jQuery("#area3").change(function(){
   var id=jQuery(this).val();
   jQuery("#area_id").val(id);
 });
//
 jQuery(".shopping_address_bottom_no a").click(function(){
     jQuery("#addr_form").submit();
 });
 //
})
</script>
<form method="post" id="addr_form">
	<div class="shopping_address_first">
		<div class="shopping_address_first_top">Add New Addres</div>
		<div class="shopping_address_first_add">
			<div class="shopping_address_first_add_name">
				<div class="shopping_address_first_add_name_left">Name*</div>
				<div class="shopping_address_first_add_name_left_input">
					<input name="trueName" type="text" id="trueName" placeholder="" />
				</div>
			</div>
			<div class="shopping_address_first_add_name">
				<div class="shopping_address_first_add_name_left">Phone *</div>
				<div class="shopping_address_first_add_name_left_input">
					<input name="telephone" type="text" id="telephone" placeholder="" />
				</div>
			</div>
			<div class="shopping_address_first_add_name">
				<div class="shopping_address_first_add_name_left">Mobile *</div>
				<div class="shopping_address_first_add_name_left_input">
					<input name="mobile" type="text" id="mobile" placeholder="" />
				</div>
			</div>
			<div class="shopping_address_first_add_addrees">
				<div class="shopping_address_first_add_name_left">Address：</div>
				<div class="shopping_address_first_add_addrees_left_input">
					<select name="area1" id="area1" level="2">
						<option value="">Province/autonomous region</option>
						#foreach($area in $areas)
						<option value="$!area.id">$!area.areaName</option> #end
					</select> <select name="area2" id="area2" level="3">
						<option value="">City level</option> #foreach($area in
						$obj.area.parent.parent.childs)
						<option value="$!area.id">$!area.areaName</option> #end
					</select> <select name="area3" id="area3" level="4">
						<option value="">County/district</option> #foreach($area in
						$$obj.area.parent.childs)
						<option value="$!area.id">$!area.areaName</option> #end
					</select> <input id="area_id" name="area_id" type="hidden" />
				</div>
			</div>
			<div class="shopping_address_first_add_xx">
				<div class="shopping_address_first_add_name_left">Street
					Name/No.</div>
				<div class="shopping_address_first_add_xx_input">
					<textarea name="area_info" cols="2" rows="" id="area_info"
						placeholder=" "></textarea>
					</textarea>
				</div>
			</div>
			<div class="shopping_address_first_add_name">
				<div class="shopping_address_first_add_name_left">ZIP code：</div>
				<div class="shopping_address_first_add_name_left_input">
					<input name="zip" type="text" id="zip" placeholder="ZIP code" />
				</div>
			</div>
			<div class="shopping_address_bottom">
				#if($!addrs.size()>0)
				<div class="shopping_address_bottom_yes">
					<a href="javascript:void(0);" class="cancel_address"
						onclick="jQuery('.shopping_address_first').parent().remove();">Cancel</a>
				</div>
				#end
				<div class="shopping_address_bottom_no">
					<a href="javascript:void(0);">Save</a> <input name="op_type"
						type="hidden" id="op_type" value="address_create" />
				</div>
			</div>
		</div>
	</div>
</form>