<script>


</script>

<script>
</script>



<!-- <style>
.left_menu{
display: none;
}
.left_menu:hover{
display: block;
}
</style> -->
<link href="$!webPath/resources/style/system/front/default/css/nav.css"
	type="text/css" rel="stylesheet" />

<div id="main_demo">
	<div class="nav_menu"
		style="box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);">
		<div class="nav_list">
			<div class="navf">
				<div class="lists" id="navlist_second">
					<ul>
						<li style="width: 229px; margin: 0px;"><strong><a
								href="$!webPath/goods_class.htm" class="meun_a" target="_blank"
								style="padding: 0px; color: #1E90FF;"><span>All
										CATEGORIES</span></strong></a></li>
						<li><a href="#" class="meun_a" target="_blank"><strong>EBUYAIR
									SHOP</strong></a></li>
						<li><a href="$!webPath/group/index.htm" class="meun_a"
							target="_blank"><strong>GROUP PURCHASE</strong></a></li>
					</ul>
				</div>
				<div class="box" id="navbox_second"
					style="height: 0px; opacity: 0; overflow: hidden;"></div>
			</div>

		</div>
	</div>
</div>




