<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>metoo_b2b2c platform V2.0</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	 <listener>
 		 <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  	</listener>
	<!--jpaFilter用来开启session，避免系统domain中出现fetch=FetchType.EAGER -->
	<filter>
		<filter-name>jpaFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>entityManagerFactory</param-name>
			<param-value>entityManagerFactory</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jpaFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--编码过滤器 -->
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<!--强制转换编码(request和response均适用) -->
		<init-param>
			<param-name>ForceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	
	<!--spring security权限过滤 Spring Secutiry3.1的过滤器链配置-->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	
	<!--商城过滤器 -->
	<filter>
		<filter-name>shopFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>shopFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>shopFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>
	<!--URL伪静态 -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<!-- <init-param> <param-name>logLevel</param-name> <param-value>DEBUG</param-value> 
			</init-param> -->
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<!-- 网页压缩过滤器 -->
	<filter>
		<filter-name>GZIPEncoder</filter-name>
		<filter-class>com.metoo.core.zip.CompressionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZIPEncoder</filter-name>
		<servlet-name>/metoo</servlet-name>
	</filter-mapping>
	<!--转义表单提交js 防止脚本注入攻击 -->
	<filter>
		<filter-name>characterFilter</filter-name>
		<filter-class>com.metoo.filter.JsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterFilter</filter-name>
		<url-pattern>/buyer/*</url-pattern>
	</filter-mapping>
	<!--页面缓存配置 -->
	<filter>
		<filter-name>SimplePageFragmentCachingFilter</filter-name>
		<filter-class>com.metoo.core.ehcache.PageCacheFiler</filter-class>
		<init-param>
			<param-name>patterns</param-name>
			<param-value>

			</param-value>
		</init-param>
	</filter>
	 <!-- <filter-mapping>
		<filter-name>SimplePageFragmentCachingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>request</dispatcher>
		<dispatcher>forward</dispatcher>
		<dispatcher>include</dispatcher>
	</filter-mapping>  -->
	<!-- 配置despatcherServlet拦截所有请求，禁止(.后缀出现在url中，实现rest)补充:激活Tomcat的defaultServlet来处理静态文件 -->
	<servlet-mapping>  
	    <servlet-name>default</servlet-name> 
	    <url-pattern>*.jpg</url-pattern>    
	</servlet-mapping>   
	<servlet-mapping>  
	    <servlet-name>default</servlet-name> 
	    <url-pattern>*.png</url-pattern>    
	</servlet-mapping>   
	<servlet-mapping>      
	    <servlet-name>default</servlet-name>   
	    <url-pattern>*.js</url-pattern>   
	</servlet-mapping>   
	<servlet-mapping>       
	    <servlet-name>default</servlet-name>      
	    <url-pattern>*.css</url-pattern>     
	</servlet-mapping>
	
	<!--系统主控servlet -->
	<servlet>
		<servlet-name>metoo</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>metoo</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
<!-- 	<servlet-mapping>
		<servlet-name>metoo</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>metoo</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping> -->
	<listener>
		<listener-class>com.metoo.core.loader.ServletContextLoaderListener</listener-class>
	</listener>
	 <listener> <listener-class> org.springframework.security.ui.session.HttpSessionEventPublisher 
		</listener-class> </listener> 
		<!-- 置默认值是"webapp.root" -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>metoob2b2c.root</param-value>
	</context-param>
	<!--设置系统session的有效时间为30分钟 -->
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- 微信访问 -->
	<!-- <servlet>
        <servlet-name>coreServlet</servlet-name>
        <servlet-class>
           com.metoo.core.weixin.CoreServlet
        </servlet-class>
    </servlet> -->
    <!-- url-pattern中配置的/coreServlet用于指定该Servlet的访问路径 -->
    <!-- <servlet-mapping>
        <servlet-name>coreServlet</servlet-name>
        <url-pattern>/coreServlet</url-pattern>
    </servlet-mapping> -->
    
	<servlet>
        <servlet-name>oauthServlet</servlet-name>
        <servlet-class>com.metoo.core.weixin.OAuthServlet</servlet-class>
        <init-param>
			<param-name>appId</param-name>
			<param-value>wx230ecfa4c5bdb96d</param-value>
			
		</init-param>
		<init-param>
			<param-name>appSecret</param-name>
			<param-value>ee309dbd9d578a32e4d81f580677790b</param-value>
		</init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>oauthServlet</servlet-name>
        <url-pattern>/oauthServlet</url-pattern>
    </servlet-mapping>
	
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
	
	<error-page>
		<error-code>500</error-code>
		<location>/500.htm</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/404.htm</location>
	</error-page>
	<!-- MIME类型 -->
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/msword</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>rar</extension>
		<mime-type>application/rar</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>application/txt</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>chm</extension>
		<mime-type>application/mshelp</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ipa</extension>
		<mime-type>application/vnd.iphone</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>apk</extension>
		<mime-type>application/vnd.android.package-archive</mime-type>
	</mime-mapping>

	
</web-app>
