.goods-img-slide, .goods-slide, .good-img-class, .goods_list_one,
	.goods_list_two, .goods_list_three, .goods_list_hot, .goods_list_new {
	width: 98%;
	margin: 0px auto;
}

html, body {
	background-color: #efeff4;
}

.mui-off-canvas-left {
	background-color: #f7f7fa;
}

p {
	text-indent: 22px;
}

.meunright {
	width: 30%;
	justify-content: flex-end;
	position: relative;
	z-index: 999;
	display: flex;
	align-items: center;
	height: 100%;
}

.meunright_a {
	width: 88%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.focusBox {
	margin: 0px;
}

span.mui-icon {
	font-size: 14px;
	color: #007aff;
	margin-left: -15px;
	padding-right: 10px;
}

.mui-off-canvas-left {
	color: #fff;
}

.title+.content {
	margin: 10px 15px 35px;
	color: #bbb;
	text-indent: 1em;
	font-size: 14px;
	line-height: 24px;
}

input {
	color: #000;
}

.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}

.mui-preview-header, .mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}

.mui-preview-header {
	height: 44px;
	top: 0;
}

.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}

.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 15px auto 4;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	font-size: 16px;
}

.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
	.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}

.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item
	{
	display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}

.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.mui-preview-loading.mui-active {
	display: block;
}

.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}

.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

@
-webkit-keyframes fadeIn { 0% {
	opacity: 0;
}

100%
{
opacity


:

 

1;
}
}
@
keyframes fadeIn { 0% {
	opacity: 0;
}

100%
{
opacity


:

 

1;
}
}
@
-webkit-keyframes fadeOut { 0% {
	opacity: 1;
}

100%
{
opacity


:

 

0;
}
}
@
keyframes fadeOut { 0% {
	opacity: 1;
}

100%
{
opacity


:

 

0;
}
}
p img {
	max-width: 100%;
	height: auto;
}

.good_img_content {
	border: #cccccc solid 1px;
}

.mui-zoom-wrapper {
	display: none;
	overflow: hidden;
}

.breviary {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.breviary li {
	overflow: hidden;
	float: left;
	width: 65px;
	height: 45px;
	padding: 0px 10px 0px 10px;
}

.breviary li img {
	border: 1px solid #8d8d8d;
	padding: 2px;
	width: 100%;
}

.tab-view-list {
	position: relative;
	padding-left: 15px;
	border-bottom: 1px solid #e2e5f1;
	background-color: #fff;
}

.tab-view-list:first-child {
	border-top: 1px solid #e2e5f1;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.04);
}

.accordion {
	
}

.mui-off-canvas-left {
	color: #initial;
}

.tab-view-list>a {
	height: 38px;
	display: flex;
	align-items: center;
}

.logo, .mui-title {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/*canvas-left-content*/
.canvas-left-content, .canvas-left-top {
	overflow: hidden;
	display: block;
}

.canvas-left-top, .canvas-left-bottom {
	padding: 12px 15px;
}

.canvas-left-bottom {
	border-top: 1px solid #f7f7fa;
	border-bottom: 1px solid #e2e5f1;
}

.canvas-left-top>p>img {
	height: 24px;
}

.canvas-left-bottom>ul {
	overflow: hidden;
	display: flex;
}

.canvas-left-bottom>ul>li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	flex: 1;
}

.canvas-left-bottom>ul>li>span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	color: #fff;
	background-color: #007aff;
	border-radius: 3px;
}

.canvas-left-bottom>ul>li>span>a>i {
	color: #fff;
}

.canvas-left-top>p {
	display: flex;
}

.account_info>p, .canvas-left-top>p {
	text-indent: 0px;
	color: #404553;
	font-weight: bold;
}

.canvas-left-top>p>i {
	flex: 1;
	color: initial;
	text-align: right;
}

.account_info {
	display: block;
}

.account_style {
	display: block;
	font-weight: normal;
	font-size: 12px;
	color: #7e859b;
}

#theForm {
	width: 100%;
}

.mui-bar-nav {
	top: 0;
	-webkit-box-shadow: 0 1px 6px #ccc !important;
	box-shadow: 0 1px 6px #ccc !important;
}